@tailwind base;
@tailwind components;
@tailwind utilities;


/* custom-scrollbar.css */

/* Set the scrollbar width and color */
::-webkit-scrollbar {
  width: 8px; /* Adjust the width as needed */
}

/* Track (the area behind the thumb) */
::-webkit-scrollbar-track {
  background-color: #d9d4d4; /* Set the background color of the track */
  border-radius: 10px;
}

/* Thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #EAAF20; /* Set the thumb color to yellow */
  border-radius: 10px; /* Add rounded corners to the thumb */
}

/* Handle (the top and bottom buttons) */
::-webkit-scrollbar-button {
  display: none; /* Hide the scrollbar buttons (optional) */
}

@font-face {
    font-family: 'ClashDisplay-Semibold';
    src: url('../fonts/clash/ClashDisplay-Semibold.woff2') format('woff2'),
    url('../fonts/clash/ClashDisplay-Semibold.woff') format('woff'),
    url('../fonts/clash/ClashDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'ClashDisplay-Bold';
    src: url('../fonts/clash/ClashDisplay-Bold.woff2') format('woff2'),
    url('../fonts/clash/ClashDisplay-Bold.woff') format('woff'),
    url('../fonts/clash/ClashDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}



@font-face {
    font-family: 'Satoshi-Regular';
    src: url('../fonts/satoshi/Satoshi-Regular.woff2') format('woff2'),
    url('../fonts/satoshi/Satoshi-Regular.woff') format('woff'),
    url('../fonts/satoshi/Satoshi-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Satoshi-Italic';
    src: url('../fonts/satoshi/Satoshi-Italic.woff2') format('woff2'),
    url('../fonts/satoshi/Satoshi-Italic.woff') format('woff'),
    url('../fonts/satoshi/Satoshi-Italic.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: italic;
}


@font-face {
    font-family: 'Satoshi-Medium';
    src: url('../fonts/satoshi/Satoshi-Medium.woff2') format('woff2'),
    url('../fonts/satoshi/Satoshi-Medium.woff') format('woff'),
    url('../fonts/satoshi/Satoshi-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Satoshi-Bold';
    src: url('../fonts/satoshi/Satoshi-Bold.woff2') format('woff2'),
    url('../fonts/satoshi/Satoshi-Bold.woff') format('woff'),
    url('../fonts/satoshi/Satoshi-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}




.countdown_container {
    background-color: #ffffff;
    width: 50%;
    max-width: 50%;
}

.wrap {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px 30px;
}

.countdown_container a {
    text-decoration: none;
    color: #1a1a1a;
}

.countdown_container h1 {
    margin-bottom: 60px;
    text-align: center;
    font: 300 1.25em "Lato";
    text-transform: uppercase;
}
.countdown_container h1 strong {
    font-weight: 400;
    color: #173f8f;
}

.countdown_container h2 {
    margin-bottom: 80px;
    text-align: center;
    font: 300 0.7em "Lato";
    text-transform: uppercase;
}
.countdown_container h2 strong {
    font-weight: 400;
}

.countdown {
    max-width: 100%;
}
.countdown .bloc-time {
    float: left;
    width: 25%;
    text-align: center;
}
.countdown .bloc-time:last-child {
    margin-right: 0;
}
.countdown .count-title {
    display: block;
    margin-bottom: 15px;
    font: normal 0.94em "Lato";
    color: #1a1a1a;
    text-transform: uppercase;
}
.countdown .figure {
    position: relative;
    float: left;
    height: 100px;
    width: 60px;
    /*margin-right: 10px;*/
    background-color: #fff;
    border-radius: 8px;
    -moz-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
    -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
}
.countdown .figure:last-child {
    margin-right: 0;
}
.countdown .figure > span {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    font: normal 5.94em/107px "Lato";
    font-weight: 700;
    color: #173f8f;
}
.countdown .figure .top:after, .countdown .figure .bottom-back:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.countdown .figure .top {
    z-index: 3;
    background-color: #f7f7f7;
    transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    -moz-transform: perspective(200px);
    -ms-transform: perspective(200px);
    -webkit-transform: perspective(200px);
    transform: perspective(200px);
}
.countdown .figure .bottom {
    z-index: 1;
}
.countdown .figure .bottom:before {
    content: "";
    /*position: absolute;*/
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.02);
}
.countdown .figure .bottom-back {
    z-index: 2;
    top: 0;
    height: 50%;
    overflow: hidden;
    background-color: #f7f7f7;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
}
.countdown .figure .bottom-back span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.countdown .figure .top, .countdown .figure .top-back {
    height: 50%;
    overflow: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.countdown .figure .top-back {
    z-index: 4;
    bottom: 0;
    background-color: #fff;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -moz-transform: perspective(200px) rotateX(180deg);
    -ms-transform: perspective(200px) rotateX(180deg);
    -webkit-transform: perspective(200px) rotateX(180deg);
    transform: perspective(200px) rotateX(180deg);
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.countdown .figure .top-back span {
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    margin: auto;
}




#close {
    position: fixed;
    top: 5%;
    right: 2%;
    height: 27px;
    width: 35px;
    cursor: pointer;
}


.button_container {
    position: fixed;
    top: 5%;
    right: 2%;
    height: 27px;
    width: 35px;
    cursor: pointer;
    /* z-index: 100; */
    transition: opacity 0.25s ease;
}

.button_container:hover {
    opacity: 0.7;
}

.button_container.active .top {
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #FFF;
}

.button_container.active .middle {
    opacity: 0;
    background: #FFF;
}

.button_container.active .bottom {
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #FFF;
}

.button_container span {
    background: white;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.35s ease;
    cursor: pointer;
}

.button_container span:nth-of-type(2) {
    top: 11px;
}

.button_container span:nth-of-type(3) {
    top: 22px;
}

.overlay {
    z-index: 9999;
    position: fixed;
    background: #030a05;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.35s, visibility 0.35s, height 0.35s;
    overflow: hidden;
}

.overlay.open {
    opacity: 1;    /*     ----------------------------------------    */
    visibility: visible;
    height: 100%;
}

.overlay.open li {
    animation: fadeInRight 0.5s ease forwards;
    animation-delay: 0.35s;
}

.overlay.open li:nth-of-type(2) {
    animation-delay: 0.4s;
}

.overlay.open li:nth-of-type(3) {
    animation-delay: 0.45s;
}

.overlay.open li:nth-of-type(4) {
    animation-delay: 0.5s;
}

.overlay nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
}

.overlay ul li {
    display: block;
    height: 25%;
    height: calc(100% / 4);
    min-height: 50px;
    position: relative;
    opacity: 0;
}

.overlay ul li a {
    display: block;
    position: relative;
    color: #FFF;
    text-decoration: none;
    overflow: hidden;
}

.overlay ul li a:hover:after,
.overlay ul li a:focus:after,
.overlay ul li a:active:after {
    width: 100%;
}

.overlay ul li a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    transform: translateX(-50%);
    height: 3px;
    background: #FFF;
    transition: 0.35s;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}
